services:

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: IT_chatbot
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - rag-network

  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.24.1
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      WEAVIATE_PASSWORD: 1234
    volumes:
      - weaviate_data:/var/lib/weaviate
    networks:
      - rag-network
  
  streamlit-app:
    build: .
    ports:
      - "8501:8501"
    environment:
      WEAVIATE_PASSWORD: 1234
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: IT_chatbot
    env_file:
      - .env
    depends_on:
      - db
      - weaviate
    volumes:
      - .:/app  
    networks:
      - rag-network

  rag-service:
    build: .
    command: uvicorn rag_service:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - weaviate
    volumes:
      - .:/app
    networks:
      - rag-network

volumes:
  postgres_data:
  weaviate_data:

networks:
  rag-network:
    driver: bridge